
@use "./App";
.feature1-wrap {
  min-height: 818px;
  @include App.w-h-flex(100%, fit-content);
}

.feature1-ins,.testimonials-1-ins {
  @include App.w-h(calc(100% - 200px), fit-content);
  min-height: 618px;
  padding: 100px;
  max-width: 1240px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  .top-cont-1 {
    min-height: 297px;
    border-radius: 8px;
    border: 1px solid #aec0d3;
    background: #fff;
    @include App.w-h-flex(100%, fit-content,center,center,column);
    .top-cont-2 {
      padding: 44px;
      @include App.w-h(calc(100% - 88px), fit-content);
      .icon-heading,
      .btn-wrap {
        @include App.w-h-flex(100%, fit-content,flex-start);
      }
      .body {
        @include App.w-h(100%, fit-content);
      }
      .icon {
        @include App.w-h(40px, 40px);
        margin-right: 10px;
      }
      .heading {
        @include App.font(#000000,Poppins, 24px, normal, 600, normal, normal);
      }
      .body {
        @include App.font(#000000,Poppins, 16px, normal, 300, normal, normal);
        margin: 26px 0 44px 0;
      }
      .btn-wrap button {
        cursor: pointer;
      }
    }
  }
}

.feature1-ins{
  padding-bottom: 0;
}
