@use "./App";



.main-menu {
  @include App.p-b-m-w-h-f(none,none,none,100% fit-content,j space-around a flex-start);
  .left {
   @include App.p-b-m-w-h-f(40px,none,t 20px,707px fit-content,none);
  
   .svg-cont {
     margin-top: 60px;
   }
  }
  .right {
    @include App.p-b-m-w-h-f(r 30px,none,t 80px b 20px, 410px fit-content,none);
  }
}



.menu-desc-box {
  @include App.p-b-m-w-h-f(none,none,none,100% fit-content,d column);

  div {
    @include App.p-b-m-w-h-f(10px 0,none,none,w 100%,none);
    text-align: left;
  }
  & > div:first-child {
    @include App.font(#000000,Poppins, 36px, italic, 600, normal, 0.72px);
  }
  
  & > div:not(:nth-child(1)) {
    @include App.font(#000000,Poppins, 14px, normal, 300, 30px, 0.28px);
  }
}




.sign-in-heading {
  @include App.w-h-flex(100%, 34px,flex-start);
}

.sign-in,
.join-in {
  @include App.font(#939ca3,Poppins, 20px, normal, 600, normal, normal);
  margin: 0 10px;
  cursor: pointer;
}

.login-wrap {
  @include App.p-b-m-w-h-f(none,none,t 20px,100% 120px,j space-between a center d column);
}

.google-wrap,
.fb-wrap {
  border-radius: 8px;
  border: 1px solid #8064a2;
  background: #f7f5f9;
  padding: 12px 0;
  cursor: pointer;
  @include App.p-b-m-w-h-f(12px 0,none,t 20px,100% 96px,j flex-start a center);
}

.g-icon,
.fb-icon {
  @include App.w-h(16px, 16px);
  margin: 0 80px 0 30px;
}

.g-text,
.fb-text {
  @include App.font(#08090a,Poppins, 14px, normal, 600, 16px, normal);
}

.separator {
  @include App.w-h-flex(100%, fit-content);
  margin: 20px 0;
}

.separator-line {
  @include App.w-h(149px, 2px);
  background: #ced4da;
}

.separator-text {
  @include App.w-h(97px, 16px);
  @include App.font(#000000,Poppins, 12px, normal, 600, 16px, normal);
}

.input-fields {
  @include App.w-h-flex(410px, fit-content,center,center,column);
  gap: 16px;
}

.email-wrap,
.pass-wrap {
  @include App.w-h-flex(90%, 26px,flex-start,center);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #adb2b9;
  background: #fff;
  input {
    display: block;
    @include App.w-h(100%, 100%);
    outline: none;
  }
}

.pass-wrap input {
  width: 80%;
  margin-right: 25px;
}

.eye-icon {
  @include App.w-h(16px, 16px);
  cursor: pointer;
}

.continue-wrap {
  @include App.w-h-flex(100%,80px,center,center,column);
  gap: 24px;

  .forgot-pass-wrap {
    @include App.w-h-flex(100%, 16px,space-between);
    color: #939ca3;
  }

  .forgot-pass {
    @extend .flex;
  }

  .remember-me {
    @extend .flex;
    margin-left: 10px;
  }

  input[type="checkbox"] {
    @include App.w-h(16px, 16px);
    margin-right: 5px;
    cursor: pointer;
  }

  label[for="remember"] {
    display: block;
    width: 92px;
    @include App.font(#000000,Poppins, 12px, normal, 400, 16px, normal);
    cursor: pointer;
  }
}

.forgot-pass {
  cursor: pointer;
  margin-right: 10px;
  div:first-child {
    @include App.w-h(15.759px, 16px);
    margin-right: 5px;
  }
  div:last-child {
    width: 107.361px;
    @include App.font(#000000,Poppins, 12px, normal, 400, 16px, normal);
  }
}



.continue-btn {
  @include App.w-h-flex(95%, 16px);
  padding: 12px 0;
  border-radius: 8px;
  border: 1px solid #000;
  cursor: pointer;
  div {
    @include App.font(#000000,Poppins, 14px, normal, 600, 16px, normal);
  }
}


.join-in-wrap{
    @include App.w-h-flex(100%,fit-content,center,end,column);
    margin-top:-15px;
    .pass-strength{

        @include App.font(#939CA3,Poppins,10px ,normal ,600 , 16px,normal);

margin: 0 10px 20px 0;
    }

    .terms{
        @include App.w-h(100%, fit-content);
        @include App.font(#6D747A,Poppins, 12px, normal, 400, normal, normal);
text-align: center;
}

.agree{
    width:97%;
    margin-right:9px;
    background: #8064A2;
    @include App.font(#ffffff,Poppins, 14px, normal, 600, 16px, normal);
margin-top:10px;
border: none;
}
}