@use "App";


@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

.navbar {
  @include App.background(#ffffff);
  @include App.box-shadow(rgba(0, 0, 0, 0.08));
  @extend .flex;
  @include App.w-h(100%,80px);
}

.logo-container img {
  margin-left: 20px;
  @include App.w-h(293.258px,60px);
}

.search-container {
  @extend .flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #ebedf0;
  padding-left: 24px;
  @include App.w-h(300px,40px);
}

.search-text {

  @include App.w-h(85%,100%);

  input {
    @include App.w-h(100%,100%);
    @include App.font(#939ca3,Poppins,12px,normal,300,40px,normal);
    outline: none;
  }
}

.search-icon {

  border-radius: 0px 8px 8px 0px;
  @include App.background(#8064a2);
  @extend .flex;
  justify-content: center;
  cursor: pointer;
  @include App.w-h(40px,40px);
}

 

.rest-options-cont {
  height: 40px;
}

.rest-options {

  @extend .flex;
  @include App.w-h(100%,100%);
  .box-wrap {
    @extend .flex;
    padding-left: 20px;
  }
  
  .icon-wrap {
    @extend .flex;
  }
  
  .sign-in-wrap {
    @extend .flex;
    margin: 0 20px;
  }
}

.options-cont {

  @extend .flex;
  padding: 0 5px;
  cursor: pointer;
  @include App.w-h(107px,24px);
}

.options-icon,
.options-arrow {

  @extend .flex;
  cursor: pointer;
  @include App.w-h(24px,24px);
}

.options-arrow {
  padding-bottom: 3px;
}

.options-text {
  @include App.font(#000000,Poppins,14px,normal,500,23px,normal);
}



.options-icon,
.options-text,
.options-arrow {
  padding-left: 3px;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

.dropdown {
  position: absolute;
  top: 42px;
  left: 22px;
  list-style: none;
  width:220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background: #ffffff;

  li {
    width: 147px;
    @include App.font(#6d747a,Poppins,14px,normal,400,18px,0.07px);
    padding: 12px 61px 12px 12px;
    cursor: pointer;
    border: 1px solid #acc5eb;
  }
  
}


.dd-vis {
  display: none;
}
