
@use "./Mainmenu";
@use "./App";
.testimonials-1{
    @extend .flex;
    @include Mainmenu.w-h(100%, fit-content);
    height: fit-content;
    .testimonials-1-ins{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        min-height:300px;
        padding-top:0;
    }
}